/* Presets para que corra correctamente el loader*/
*,*:after,*:before{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* 
  Estilos para el sitio, hecho movile first, por lo que los primeros estilos son todos para movil.
*/


/* Selectores de etiquetas */
body{
  font-family: 'Roboto', sans-serif;
}
figure{
  margin: 0;
}
figcaption a img{
  height: 5vh;
  padding-bottom: 10%;
}
ul{
  list-style: none;
}
h1,h2{
  font-family: 'Rock Salt', cursive;
  text-align: center;
  margin: 3vh 0;
  font-size: 8vh;
  color: #8AE762;
  text-shadow: 0 1vh 1vh #98ac8f66;
}
h2{
  line-height: 8vh;
  font-size: 6vh;
}
h3{
  color: #FCFECA;
  padding-left: 10vw;
  font-size: 4.5vh;
}
h4{
  color: #FCFECA;
}
footer{
  padding-top: 10vh;
  padding: 3vh 7vw 1vh 7vw;
  max-height: 389px;
}
header{
  max-height: 200px;
}
main{
  padding-top: 17vh;
}

/* Selectores por clase */
.nv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 9vw;
  position: fixed;
  z-index: 50;
  text-align: center;
}
.titulos{
  padding-top: 17vh;
}
.img-logo{
  height: 12vh;
}
.txt{
  padding: 0 5vw;
  text-align: justify;
  font-size: 3vh;
  color: #FEFFDC;
}
.UnsplashAPI{
  margin: 3vh 0;
  background-color: #433C46;
}
.logoT{
  width: 76px;
  height: 75px;
  border-radius: 10px;
}
.desplegable{
  border: none;
  cursor: pointer;
  background: #242225;
}
.desplegable:hover {
  border: solid 2px #F03D5D;
}
.popup-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
.popup {
  width: 100%;
  height: 90%;
  max-width: 1000px;
  max-height: 700px;
  background: #FEFFDC;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
}
.certificados{
  width: 100%;
  height: 450px;
}
.info{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(51, 51, 51, 0.7);
}
.redes{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.imgRed{
  width: 80%;
  margin: 5% 0;
  max-width: 85px;
}
.logoFoot{
  width: 30vw;
  max-height: 200px;
}
.formContact{
  text-align: center;
  width: 70vw;
  background-color: #5F5663;
  border-radius: 5px;
  max-height: 250px;
  max-height: 250px;
}
.formContact input, .formContact textarea{
  width: 90%;
  margin-bottom: 4%;
  border-radius: 20px;
  padding: 2%;
}
.formContact button{
  width: 50%;
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 1%;
}
.iconoL{
  display: none;
}


/* Selectores por ID */
#menuHam{
  height: 5vh;
  align-content: center;
}
#menu{
  margin:0;
  padding:0;
}
#menu li {
  background-color:#433C46;
  position:relative;
  float:right;
  margin:0;
  padding:0;
  text-align: left;
}
#menu a{
  display:block;
  padding:10px;
  letter-spacing:1vw;
}
#menu li:hover {
  background:#5F5663; 
}
#menu ul li:hover{
  color: #242225;
}
#menu ul {
  list-style:none;
  display:none;
  position:absolute;
  top:100%;
  right:0;
  background:#FEFFDC;
  padding:0;
}
#menu ul li{
  float:none;
  width: 190%;
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 0;
  color: #FEFFDC;
  font-size: 3vh;
}
#menu li:hover > ul {
  display:block;
}
#menu ul .cabeceraMenu{
  padding: 5%;
  font-size: 3.5vh;
  text-decoration: underline;
}
#bandera{
  width: 100%;
}
#langSelect{
  font-size: 3vh;
  color: #FEFFDC;
}
#contenedor_carga{
	background-color: rgba(255, 255, 255, 0.9);
	height: 100%;
	width: 100%;
	position: fixed;
}
#carga{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


/* Media */

@media only screen and (min-height: 761px) {
  main{
    padding-top: 25vh;
  }
}
