body{
  background: #ddd;
  font-family: 'Roboto', sans-serif;
}
figure{
  margin: 0;
}
.nv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vh 10vw;
}
header{
  background: linear-gradient(180deg, #777777 0%, rgba(221, 221, 221, 0.5) 100%);
}
.img-logo{
  height: 14vh;
}
h1,h2{
  font-family: 'Rock Salt', cursive;
  text-align: center;
  margin: 3vh 0;
  font-size: 8vh;
}
h2{
  line-height: 8vh;
  font-size: 6vh;
}
h3{
  padding-left: 10vw;
  font-size: 4.5vh;
}
.txt{
  padding: 0 5vw;
  text-align: justify;
  font-size: 3vh;
}
.UnsplashAPI{
  margin: 3vh 0;
  background-color: #333;
  color: #ddd;
}
.logoT{
  width: 100%;
  height: 75px;
  border-radius: 10px;
}

.desplegable{
  border: none;
  cursor: pointer;
  background: #ddd;
}

.desplegable:hover {
  border: solid 2px black;
}
.popup-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.popup {
  width: 100%;
  height: 90%;
  max-width: 1000px;
  max-height: 700px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
}


.popup-close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem;
}

.certificados{
  width: 100%;
  height: 450px;
}

.info{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(51, 51, 51, 0.45);
}

footer{
  padding-top: 10vh;
  background: linear-gradient(0deg, #333 0%, #777777 50%, rgba(221, 221, 221, 0.5) 100%);
}

.redes{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imgRed{
  width: 80%;
  margin: 5% 0;
}

.logoFoot{
  width: 30vw;
}

.formContact{
  text-align: center;
  width: 100vw;
  background-color: #ddd;
  margin: 10% 0;
  border-radius: 5px;
}

.formContact input, .formContact textarea{
  width: 90%;
  margin-bottom: 4%;
  border-radius: 20px;
  padding: 2%;
}

.formContact button{
  width: 50%;
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 1%;
}